<section id='show_response'>
    <div class='heading-ga heading-ur sections-ga'>
        <a style="color: rgb(48, 48, 48); font-weight: 500;">
            Lets chech how you performed, <%- data.username %>.
        </a>
    </div>
    <br><br><br><br>

    <div class='heading-ga sections-ga' style="padding: 15px; height: auto;">
        <a style="color: rgb(48, 48, 48); font-weight: 400;">
            <p style="font-weight: 500; margin-bottom: 5px;">Question 1</p> Name the last thing you searched on
            Google.?
        </a>
    </div>
    <div class='sections-ga' style="padding: 15px; height: auto;">
        <a style="color: rgb(48, 48, 48);">
            <%- data.question_1 %>
        </a>
    </div>

    <br><br><br><br>
    <div class='heading-ga sections-ga' style="padding: 15px; height: auto;">
        <a style="color: rgb(48, 48, 48); font-weight: 400;">
            <p style="font-weight: 500; margin-bottom: 5px;">Question 2</p> Who is your best friend?
        </a>
    </div>
    <div class='sections-ga' style="padding: 15px; height: auto;">
        <a style="color: rgb(48, 48, 48);">
            <%- data.question_2 %>
        </a>
    </div>

    <br><br><br><br>
    <div class='heading-ga sections-ga' style="padding: 15px; height: auto;">
        <a style="color: rgb(48, 48, 48); font-weight: 400;">
            <p style="font-weight: 500; margin-bottom: 5px;">Question 3</p> Did you had a crush on me any time.?
        </a>
    </div>
    <div class='sections-ga' style="padding: 15px; height: auto;">
        <a style="color: rgb(48, 48, 48);">
            <%- data.question_3 %>
        </a>
    </div>

    <br><br><br><br>
    <div class='heading-ga sections-ga' style="padding: 15px; height: auto;">
        <a style="color: rgb(48, 48, 48); font-weight: 400;">
            <p style="font-weight: 500; margin-bottom: 5px;">Question 4</p> To whom you feel jealous? and why?
        </a>
    </div>
    <div class='sections-ga' style="padding: 15px; height: auto;">
        <a style="color: rgb(48, 48, 48);">
            <%- data.question_4 %>
        </a>
    </div>

    <br><br><br><br>
    <div class='heading-ga sections-ga' style="padding: 15px; height: auto;">
        <a style="color: rgb(48, 48, 48); font-weight: 400;">
            <p style="font-weight: 500; margin-bottom: 5px;">Question 5</p> What is the first thing you notice in a girl
            or a boy?
        </a>
    </div>
    <div class='sections-ga' style="padding: 15px; height: auto;">
        <a style="color: rgb(48, 48, 48);">
            <%- data.question_5 %>
        </a>
    </div>

    <br><br><br><br>
    <div class='heading-ga sections-ga' style="padding: 15px; height: auto;">
        <a style="color: rgb(48, 48, 48); font-weight: 400;">
            <p style="font-weight: 500; margin-bottom: 5px;">Question 6</p> What was your nickname in your childhood? Be
            Honest.
        </a>
    </div>
    <div class='sections-ga' style="padding: 15px; height: auto;">
        <a style="color: rgb(48, 48, 48);">
            <%- data.question_6 %>
        </a>
    </div>

    <br><br><br><br>
    <div class='heading-ga sections-ga' style="padding: 15px; height: auto;">
        <a style="color: rgb(48, 48, 48); font-weight: 400;">
            <p style="font-weight: 500; margin-bottom: 5px;">Question 7</p> Do you like licking your plate after eathing
            maggie?
        </a>
    </div>
    <div class='sections-ga' style="padding: 15px; height: auto;">
        <a style="color: rgb(48, 48, 48);">
            <%- data.question_7 %>
        </a>
    </div>

    <br><br><br><br>
    <div class='heading-ga sections-ga' style="padding: 15px; height: auto;">
        <a style="color: rgb(48, 48, 48); font-weight: 400;">
            <p style="font-weight: 500; margin-bottom: 5px;">Question 8</p> Have you ever tasted a cat or dog food?
        </a>
    </div>
    <div class='sections-ga' style="padding: 15px; height: auto;">
        <a style="color: rgb(48, 48, 48);">
            <%- data.question_8 %>
        </a>
    </div>

    <br><br><br><br>
    <div class='heading-ga sections-ga' style="padding: 15px; height: auto;">
        <a style="color: rgb(48, 48, 48); font-weight: 400;">
            <p style="font-weight: 500; margin-bottom: 5px;">Question 9</p> Name your current crush
        </a>
    </div>
    <div class='sections-ga' style="padding: 15px; height: auto;">
        <a style="color: rgb(48, 48, 48);">
            <%- data.question_9 %>
        </a>
    </div>

    <br><br><br><br>
    <div class='heading-ga sections-ga' style="padding: 15px; height: auto;">
        <a style="color: rgb(48, 48, 48); font-weight: 400;">
            <p style="font-weight: 500; margin-bottom: 5px;">Question 10</p> Last thing u dreamed?
        </a>
    </div>
    <div class='sections-ga' style="padding: 15px; height: auto;">
        <a style="color: rgb(48, 48, 48);">
            <%- data.question_10 %>
        </a>
    </div>
</section>
